node_modules
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

prisma/generated
.sisyphus
*.db
.env.production
/public/uploads/*
**/messages.js
**/messages.mjs
.env.demo